<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <title>Guess-number</title>
</head>
<body>
<p>Hello!</p>
<p>This is a game, where Computer will choose a number between 1 and 10</p>
    <p>and you have to guess it</p>
<p style="text-align: left"><b>Please insert the number between 1 and 10 </b></p>

<form method = "POST" action = "/playGame">
    <p style="text-align: center">Please enter you number below:</p>
    <input type = text name = humanNumber>
    <div class="button-wrapper">
        <button class="button1" type="submit">Submit</button>
    </div>
</form>
</body>
</html>