<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <title>CreateUser</title>
</head>
<body>
<p><b>Please, choose username and password, then press on "Signup" to proceed</b></p>
<div class="form-middle">
    <form method = "POST" action = "/register">
        <p style="text-align:center"><b>Please sign up here:</b></p>
        <b>Login :</b> <input style="margin-left: 29px" type = text name = login>
        <b>Password :</b> <input type = password name = password>
        <div class="button-wrapper">
            <button class="button1" type="submit">Signup</button>
        </div>
    </form>
</div>
<p th:text="${session.values()}" th:unless="${session == null}">[...]</p>
<p>Is session empty now?</p>
<p th:text="${session.isEmpty()}" th:unless="${session == null}">[...]</p>
</body>
</html>