<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styling.css" type="text/css">
    <title>LoggedIn</title>
</head>
<body>
<p><b> Congratulations, <span th:text = "${user.login}"/>! You have successfully logged in</b></p>
<div class="button-wrapper">
    <button class="button1" onclick="location.href='/logout'" type="button">Logout</button>
</div>



<table>
    <thead>
    <tr>
        <th> Login</th>
        <th> Password</th>
        <th> Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.login}"></td>
        <td th:text="${user.password}"></td>
        <td> <!--<a th:href="@{/showFormForUpdate/{id}(id=${user.login})}" class="btn btn-primary">Update</a>-->
            <a th:href="@{/deleteUser/{login}(login=${user.login})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>





<!--<p style="margin-top:30px;text-align: left"><b>What do you wish to do? You have following options:</b></p>
<ul>
    <li><a href="game/guessNumber">1. Play "Guess number game"</a></li>
    <li><a onclick="location.href='/showGrades'">2. Show you grades, if you are in our student database</a></li>???
    <li><a href="/3">3.</a></li>
</ul>-->

<p th:text="${session.values()}" th:unless="${session == null}">[...]</p>
<p>Is session empty now?</p>
<p th:text="${session.isEmpty()}" th:unless="${session == null}">[...]</p>
</body>
</html>